*{
    padding: 10px;
    margin: 5px;
}
body{
    background-image:url(/removingbackgroundimages_Unsplash.webp) ;
    background-size: cover;
}
.format{
    font-size: medium;
    font-weight: 600;
    font-style: inherit;
    color: black;
    border-radius:30px;
    margin-left: 550px;
    margin-bottom: 200px;
}
.place{
    padding: 10px;
    font-size: small;
    font-style: italic;
    border-radius: 10px;
    color: maroon;
}
.place:hover{
    background-color: lightskyblue;
}
button{
    border-radius: 6px;
    transition: 500ms;
}
button:hover{
    background-color: darkviolet;
}